.button {
  appearance: none;
  border: 0;
  border-radius: 4px;

  font-weight: bold;
  font-size: 17px;
  background-color: #ffbf33;
  padding: 15px 39px;
  font-family: "Graphik LC Web", sans-serif;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background-color: #ffc633;
}

.button:active {
  background-color: #ffbf33;
}

.themeWhite {
  background-color: white;
}

.themeWhite:hover {
  background-color: #fff3da;
}

.themeWhiteBordered {
  background-color: white;
  color: black;
  border: 1px solid #e0e0e0;
}

.themeWhiteBordered:hover {
  background-color: #fff3da;
}

.themeBlack {
  color: white;
  background-color: #000000;
}

.themeBlack:hover {
  background-color: #313131;
}

.sizeSmall {
  padding: 6px 24px 7px;
  font-size: 14px;
}

.sizeRegular {
  padding: 11px 24px 12px;
  font-size: 14px;
}

.unbold {
  font-weight: normal;
}

.fullWidth {
  width: 100%;
}

.button[disabled] {
  background: #e0e0e0;
  color: white;
  cursor: default;
}

.themeWhiteBordered[disabled],
.themeWhite[disabled] {
  color: black;
  opacity: 0.6;
}

@media (max-width: 900px) {
  .button:not(.sizeSmall) {
    padding: 10px 16px;
  }
}
